::-webkit-scrollbar {
display: none;
}

@media (max-width: 576px) {
  .col-height-custom {
    height: 80vh;
  }
}

@media (min-width: 576px) {
  .col-height-custom {
    height: 60vh;
  }
  .show-active, .nav-item:hover {
    border-bottom: 2px solid white !important;
  }
  .nav-link {
    width: 105px;
    text-align: center !important;
  }
}

@media (min-width: 768px) {
  .col-height-custom {
    height: 90vh;
  }
}

@media (min-width: 1200px) {
  .col-height-custom {
    height: 1140px;
  }
}

#follow > li:hover {
    background: darkblue;
